name: "Slack Deployment Compare"
run-name: "Slack Compare - [${{ github.ref_name }}]"

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - staging

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read previous stored commit
        id: prev
        run: |
          FILE=".last_deploy.md"
          if [ -f "$FILE" ]; then
            PREV=$(cat $FILE)
          else
            PREV=""
          fi
          echo "prev_commit=$PREV" >> $GITHUB_OUTPUT

      - name: Get latest commit message
        id: current
        run: |
          CURRENT=$(git log -1 --pretty=format:"%H - %s")
          echo "$CURRENT" > .last_deploy.md
          echo "current_commit=$CURRENT" >> $GITHUB_OUTPUT

      - name: Compare commits
        id: compare
        run: |
          if [ "${{ steps.prev.outputs.prev_commit }}" = "${{ steps.current.outputs.current_commit }}" ]; then
            echo "changed=no" >> $GITHUB_OUTPUT
          else
            echo "changed=yes" >> $GITHUB_OUTPUT
          fi

      - name: Notify Slack
        if: steps.compare.outputs.changed == 'yes'
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          INFO="${{ steps.current.outputs.current_commit }}"
          DATE=$(date '+%d-%b-%Y %H:%M:%S')

          TEXT="*New Deployment Detected*\n\n*Latest Commit:*\n\`\`\`\n$INFO\n\`\`\`\nTime: $DATE"

          curl -X POST -H 'Content-type: application/json' \
            --data "{\"text\": \"$TEXT\"}" \
            "$SLACK_URL"

      - name: Commit updated latest deploy file
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: ".last_deploy.md"
          commit_message: "update latest deploy commit"
